.about {
  &-country {
    &-wrap {
      display: flex;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
      @include small-tablet {
        flex-direction: column-reverse;
      }
    }

    &-content {
      flex: 0 0 75%;
      max-width: 75%;
      padding-right: 15px;
      padding-left: 15px;
      @include small-tablet {
        flex: 0 0 100%;
        max-width: 100%;
      }

      &__grid {
        grid-gap: 0.625em;
        margin-bottom: 1.5em;
      }
    }

    &-aside {
      flex: 0 0 25%;
      max-width: 25%;
      padding-right: 15px;
      padding-left: 15px;
      @include small-tablet {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }

    &__grid {
      grid-gap: 1.25em;
      @include small-tablet {
        grid-gap: 1em;
      }
      @include mobile {
        grid-gap: .75rem;
      }
      @include small-mobile {
        grid-gap: .5rem;
      }
    }

    &__link {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 200px;
      font-size: 1.25rem;
      color: var(--light-color);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      border-radius: 12px;
      overflow: hidden;
      @include mobile {
        font-size: 1rem;
        height: 150px;
      }
    }

    &__text {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      text-align: center;
      padding: 1.5em;
      background-color: rgba(0, 9, 41, .5);
    }

    &-list {
      position: sticky;
      top: 120px;
      display: flex;
      flex-direction: column;
      border-left: 1px solid rgba(0, 0, 0, .1);
      @include small-tablet {
        flex-direction: row;
        gap: 1em;
        overflow-x: scroll;
        border-left: none;
        margin-bottom: 12px;
      }

      &__item {
        display: flex;
        align-items: center;
        padding: .5em 1em;
        margin-left: -1px;
        border-left: 2px solid transparent;
        border-bottom: 2px solid transparent;
        cursor: pointer;
        transition: .3s color, .3s border-left;
        @media (min-width: (768px)) {
          border-left: 2px solid transparent;
          border-bottom: none;
        }
        @include small-tablet {
          white-space: nowrap;
          padding: .5em 0;
          margin-left: 0;
        }

        &:hover {
          @media (min-width: (768px)) {
            border-left: 2px solid var(--primary-color);
            border-bottom: none;
          }
          color: var(--primary-color);
          border-bottom: 2px solid var(--primary-color);
        }

        &.active {
          @media (min-width: (768px)) {
            border-bottom: none;
          }
          color: var(--primary-color);
          border-left: 2px solid var(--primary-color);
          border-bottom: 2px solid var(--primary-color);
        }
      }
    }

    &-page {
      &__head {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        h2 {
          margin-bottom: .75em;
        }
      }
    }
  }
}

.help {
  &__title {
    margin-bottom: .3333333333333333em;
  }

  &__desc {
    width: 50%;
    line-height: 153%;
    text-align: center;
    margin: 0 auto 1.5em;
    @include mobile {
      width: 100%;
      text-align: left;
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.services {
  &-page {
    &__container {
      &--form {
        background-color: rgba(0, 0, 0, 0.04);
      }
    }

    &__head {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }

    &__result {
      &-link {
        text-decoration: underline;
        margin-bottom: 1em;
      }
    }

    &-form {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 1em;

      &__field {
        padding: 1.5em !important;
        border-radius: 12px;
        background-color: var(--light-color);

        .ant-form-item {
          margin-bottom: 0;
        }

        .ant-alert {
          font-size: .875rem;
          margin-bottom: .5em;
        }

        .ant-checkbox-group {
          display: grid;
          grid-template-columns: 1fr;
          grid-gap: .25em;
        }

        .ant-form-item-label {
          font-weight: 600;
        }
      }

      &__input {
        margin-top: .5em !important;
      }
    }
  }
}

.analytic {
  &-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5em;

    .ant-progress-outer {
      width: 100% !important;
    }
  }

  &-item {
    padding: 1.5em;
    background-color: var(--light-color);
    border-radius: 12px;

    &__title {
      font-weight: 700;
      margin-bottom: 1em;
    }
  }

  &-answer {
    &__item {
      &-title {
        font-size: .875rem;
        font-weight: 500;
      }
    }
  }
}

.booking {
  &__heading {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 700;
    padding: .75em 1.25em;
  }

  &__list {
    list-style: none;
    margin-bottom: 1.25em;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    width: 100%;
    padding: .75em 1.25em;
    font-weight: 500;
    transition: color .15s ease-in;
    @include mobile {
      gap: .75em;
      padding-left: 0;
      padding-right: 0;
      font-size: .875rem;
    }
    span {
      flex: 1;
    }
    svg {
      fill: rgba(0, 9, 41, .25);
      @include mobile {
        width: 20px;
        height: 20px;
      }
    }
    &:hover {
      color: var(--accent-color);
      svg {
        fill: var(--accent-color);
      }
    }
  }

  &__item {
    &:not(:last-child) {
      border-bottom: 1px solid rgba(0, 9, 41, .1);
    }
  }
}