.profile {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-gap: 2em;
  padding: 4em 0;
  @include tablet {
    grid-template-columns: 1fr;
    grid-gap: 1em;
    padding: 1em 0;
  }
  &__container {
    margin-top: 91px;
    padding-top: 0;
    background-color: rgba(0, 0, 0, 0.04);
    @include small-desktop {
      margin-top: 84px;
    }
    @include mobile {
      margin-top: 68.83px;
    }
  }
  &__title {
    text-transform: none;
    margin-top: 0.3333333333333333em;
    margin-bottom: 0.8333333333333334em;
    @include tablet {
      font-weight: 600!important;
      margin-bottom: 0.625em;
    }
  }
  &-sidebar {
    border-radius: 12px;
    max-width: 240px;
    width: 100%;
    overflow: hidden;
    background-color: var(--light-color);
    @include tablet {
      max-width: 100%;
    }
    &-header {
      &__preview {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 1.875em 1.25em 0.875em;
        @include tablet {
          flex-direction: row;
          justify-content: flex-start;
          gap: 0.75em;
          padding: 1.25em;
        }
        @include mobile {
          gap: .5em;
          padding: 0.938em 3em 0.938em 0.938em;
        }
      }
      &__logout {
        position: absolute;
        top: 1.25em;
        right: 1.25em;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: opacity .1s ease-in-out;
        &:hover {
          opacity: .7;
        }
        svg {
          @include mobile {
            top: 1em;
            right: 1em;
            width: 20px;
            height: 20px;
          }
        }
      }

      &__avatar {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 150px;
        overflow: hidden;
        border-radius: 50%;
        @include tablet {
          width: 48px;
          height: 48px;
        }
        img {
          width: 100%;
          height: 100%;
        }
      }

      &__fio {
        flex: 1;
        font-weight: 600;
        font-size: 1.25rem;
        line-height: 1em;
        text-align: center;
        margin: 0.8em 0;
        @include tablet {
          font-size: 1rem;
          text-align: left;
        }
        @include mobile {
          margin: 0;
        }
      }
    }

    &-list {
      padding-bottom: 1.25em;
      @include tablet {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-bottom: 0;
      }
      @include small-mobile {
        grid-template-columns: 1fr;
      }

      &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px solid rgba(0, 0, 0, 0.08);
        &:nth-child(odd) {
          @include tablet {
            border-right: 1px solid rgba(0, 0, 0, 0.08);
            @include small-mobile {
              border-right: none;
            }
          }
        }
      }

      &__link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1em;
        width: 100%;
        height: 60px;
        padding: 0.75em 1.25em;
        @include mobile {
          gap: .5714285714285714em;
          height: 54px;
          padding-left: 1em;
          padding-right: 1em;
        }
        @include small-mobile {
          height: 42px;
        }
        span {
          flex: 1;
          font-size: .938rem;
          font-weight: 500;
          line-height: 1.2;
          color: rgba(0, 0, 0, .8);
          @include mobile {
            font-size: .875rem;
          }
        }

        svg {
          width: 16px;
          height: 16px;
          @include mobile {
            width: 14px;
            height: 14px;
          }
          path {
            fill: rgba(0, 0, 0, .4);
          }

        }
        &:hover {
          span {
            color: var(--primary-color);
          }
          svg {
            path {
              fill: var(--primary-color);
            }
          }
        }

        &.active {
          span {
            color: var(--primary-color);
          }
          svg {
            path {
              fill: var(--primary-color);
            }
          }
        }
      }
    }
  }
  &-comments {
    padding: 1em;
    background-color: var(--light-color);
    border-radius: 12px;
    @include mobile {
      padding: .938em;
    }
    &-info {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      padding: 1.25em;
      border-radius: 12px;
      background-color: rgba(0, 0, 0, 0.04);
      @include mobile {
        padding: 1em;
      }
      &__star {
        font-size: 1.125rem;
        font-weight: 600;
        line-height: 1.2;
        margin-right: .5rem;
        @include mobile {
          font-size: 1rem;
        }
      }
      &__rate {
        display: flex;
        align-items: center;
        @include mobile {
          font-size: 1rem;
        }
      }
      &__count {
        color: #96a8b8;
        margin-left: 1em;
        @include mobile {
          width: 100%;
          margin-top: 5px;
          margin-left: 0;
        }
      }
    }
  }

  &-menu {
    display: flex;
    align-items: center;
    gap: 1.5em;
    @include tablet {
      gap: 1.25em;
      overflow-x: auto;
      scrollbar-width: none;
      -ms-overflow-style: none;
    }
    &::-webkit-scrollbar {
      display: none;
    }
    &__container {
      position: relative;
      background-color: var(--light-color);
      &::after {
        position: absolute;
        content: '';
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        height: 100%;
        width: 30px;
        background: linear-gradient(270deg, #FFF 0%, rgba(255, 255, 255, 0.80) 100%);
      }
    }
    &__item {
      font-size: 0.938rem;
    }
    &__link {
      display: flex;
      align-items: center;
      gap: 0.375em;
      padding: 1.2em 0;
      font-size: inherit;
      font-weight: 600;
      white-space: nowrap;
      color: #96a8b8;
      border-bottom: 2px solid transparent;
      @include tablet {
        padding: .875em 0;
        font-size: .875rem;
      }
      &:hover {
        color: var(--primary-color);
      }
      &.active {
        color: var(--primary-color);
        border-color: var(--primary-color);
      }
      svg {
        @include tablet {
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  //&-content {
  //  padding: 4em;
  //}
  &-form {
    padding: 2em;
    border-radius: 12px;
    background-color: var(--light-color);
    @include mobile {
      padding: .938em;
    }

    &__title {
      font-size: 1.5rem;
      margin-bottom: 1em;
    }

    .form-avatar {
      .ant-upload {
        width: 200px !important;
        height: 200px !important;
        border-radius: 50% !important;
        margin: 0 !important;
        overflow: hidden;

        img {
          height: 100%;
        }
      }
    }

    .ant-radio {
      &-group {
        label {
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    .form {
      &-row {
        @include mobile {
          flex-direction: column;
          gap: 0;
        }
      }
      &-item {
        flex: 1;
        width: 48%;
        @include mobile {
          width: 100%;
        }
      }
    }
  }

  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__img {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      margin-top: 1.25em;
      margin-bottom: 20px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }

    &__edit {
      font-size: 1rem;
      margin-top: 1em;
      color: var(--accent-color);
      cursor: pointer;
      transition: opacity .2s linear;
      &:hover {
        opacity: .7;
      }
    }
  }
}

.form {
  &-sidebar {
    padding-top: 0 !important;
  }
}

.video {
  &-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    background-color: var(--light-color);
    border-radius: 12px;
    @include mobile {
      grid-template-columns: 1fr;
      gap: .938em;
    }
  }
  &-item {
    position: relative;
    display: flex;
    flex-direction: column;
    &-add {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      padding: 2em;
      margin-bottom: 1em;
      background-color: rgba(0, 0, 0, 0.04);
      border-radius: 12px;
      border: 1px solid var(--primary-color);
      cursor: pointer;
      transition: opacity .2s ease;
      @include mobile {
        padding: 1.5em;
      }
      &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        .anticon {
          font-size: 1.5rem;
          @include mobile {
            font-size: 1.25rem;
          }
        }
      }
      &__text {
        font-size: 1.125rem;
        font-weight: 500;
        color: var(--primary-color);
        margin-left: .375em;
        @include mobile {
          font-size: 1rem;
        }
      }
      &:hover {
        opacity: .7;
      }
    }
    &-text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      padding: 1em;
      @include mobile {
        padding: .5em;
      }
      &__desc {
        font-size: 1rem;
        line-height: 147%;
      }
      &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 1em;
        margin-top: 1em;
        font-size: .875rem;
        font-weight: 600;
        border-top: 1px solid rgba(0, 9, 41, 0.1);
        &-price {
          color: var(--primary-color);
        }
      }
    }
    &-edit {
      position: absolute;
      top: 12px;
      right: 12px;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: .5em;
      background-color: var(--light-color);
      box-shadow: 0 0 24px rgba(0, 0, 0, 0.06);
      border: 2px solid rgba(0, 0, 0, 0.04);
      border-radius: 12px;
      cursor: pointer;
      .anticon {
        font-size: 1.25rem;
        transition: opacity .15s ease-in-out;
        &:hover {
          opacity: .5;
        }
      }
    }
    &-tab {
      .ant-tabs-nav {
        height: 40px!important;
        padding: 0!important;
        @include mobile {
          height: 30px!important;
        }
      }
      .ant-tabs-tab {
        font-weight: 500!important;
        color: #96a8b8!important;
      }
      .ant-tabs-tabpane {
        margin-top: 1em;
        @include mobile {
          font-size: .875rem;
        }
      }
    }
  }
}

.ant {
  &-form {
    &__drawer {
      .form {
        &-row {
          @include mobile {
            gap: 0;
            flex-direction: column;
          }
        }
      }
    }
  }
}