.publish {
  display: grid;
  grid-template-columns: 230px 1fr;
  gap: 1.875em;
  &__title {
    line-height: 140%;
    margin-bottom: 0.6666666666666666em;
  }
  &__desc {
    line-height: 133%;
    margin-bottom: 1.5em;
  }
  &--one {
    grid-template-columns: 1fr;
  }
  &--two {
    grid-template-columns: 300px 1fr;
    @include tablet {
      grid-template-columns: 1fr;
    }
  }
  &-filter {
    display: flex;
    flex-direction: column;
    gap: .5em;
    &--horizontal {
      flex-direction: row;
    }
    &__left {
      display: flex;
      align-items: center;
      gap: 1em;
    }
    &__search {
      width: 300px;
      max-width: 300px;
      .ant-input-group-wrapper {
        height: 100%!important;
      }
      .ant-input-search {
        height: 100%!important;
      }
      .ant-input-wrapper {
        height: 100%!important;
        .ant-input-group-addon {
          height: 100%!important;
          padding-right: 5px;
          background-color: var(--light-color);
          border: none!important;
          border-end-start-radius: 12px!important;
          border-start-start-radius: 12px!important;
        }
        .ant-input-affix-wrapper {
          height: 100%!important;
          border: none!important;
          padding-left: 5px;
          border-start-end-radius: 12px!important;
          border-end-end-radius: 12px!important;
        }
        .ant-btn {
          height: 100%!important;
          border: none!important;
          border-start-end-radius: 12px!important;
          border-end-end-radius: 12px!important;
        }
      }
    }
    &__select {
      .ant-select {
        height: 100%!important;
        .ant-select-selector {
          border: none!important;
          border-radius: 12px!important;
        }
      }
      .ant-input-affix-wrapper {
        height: 100%!important;
        border: none!important;
        border-radius: 12px!important;
      }
    }
    &__rate {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: .625em;
      font-weight: 500;
      padding: 0.5em 0.625em;
      background-color: var(--light-color);
      border-radius: 12px;
    }
    &__action {
      display: flex;
      align-items: center;
      gap: .5em;
      height: 100%;
      margin-left: auto;
    }
    &__submit {
      height: 100%;
      .ant-btn {
        height: 100%!important;
        border-radius: 12px!important;
      }
    }
  }
  &-search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 1.5em;
    &__item {
      width: 100%;
      padding: 1em!important;
      background-color: #f6f6f6;
      margin-bottom: 0!important;
      border-radius: 8px;
    }
    &__input {
      .ant-input {
      }
      .ant-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px!important;
      }
    }
  }
  &-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.25em;
    @include small-tablet {
      grid-gap: .875em;
    }
    &-wrap {
      display: flex;
      flex-direction: column;
    }
    &--one {
      grid-template-columns: 1fr;
      border: 1px solid #d9d9d9;
      border-radius: 12px;
      .ant-collapse {
        border: none;
        border-radius: 0;
        .ant-collapse-item {
          border-radius: 0!important;
          .inner-html {
            ul, ol {
              margin-left: 40px;
              padding-bottom: 0.75rem;
            }
          }
        }
        .ant-collapse-header-text {
          font-weight: 500;
          color: var(--primary-color);
        }
        .anticon {
          svg {
            fill: var(--primary-color);
          }
        }
        &:not(:last-child) {
          margin-bottom: -1px;
        }
        &:last-child {
          .ant-collapse-item {
            border-bottom: none!important;
          }
        }
      }
    }
    &--two {
      grid-template-columns: repeat(2, 1fr);
      @include mobile {
        grid-template-columns: 1fr;
      }
    }
  }
  &-empty {
    padding: 2.25em;
    background-color: rgba(0, 0, 0, .04);
    border-radius: 12px;
  }
  &-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    @include small-tablet {
      justify-content: flex-start;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.guide {
  &__container {
    background-color: rgba(0, 0, 0, 0.04);
  }
}

.comments {
  &-list {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1.25em;
    background-color: var(--light-color);
    border-radius: 12px;
    @include mobile {
      padding-left: 0;
      padding-right: 0;
    }
  }
  &-item {
    position: relative;
    z-index: 1;
    &:not(:last-child) {
      padding-bottom: 2em;
      border-bottom: 1px solid #e8e8f0;
    }
    &:not(:first-child) {
      margin-top: 2em;
    }
    &__top {
      display: grid;
      align-items: center;
      grid-template-columns: 54px 1fr;
      grid-gap: 1.25em;
      @include mobile {
        grid-template-columns: 42px 1fr;
        align-items: flex-start;
        grid-gap: .875em;
      }
      &__info {
        width: 100%;
      }
      &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include mobile {
          gap: .25em;
          align-items: flex-start;
          flex-direction: column;
        }
      }
      &-image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 54px;
        background-color: rgba(0, 0, 0, 0.04);
        border-radius: 50px;
        overflow: hidden;
        @include mobile {
          width: 42px;
          height: 42px;
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
      &-name {
        font-weight: 600;
        @include mobile {
          font-size: .875rem;
        }
      }
      &-date {
        font-size: 0.938rem;
        font-weight: 500;
        line-height: 1.375em;
        color: #96a8b8;
        @include mobile {
          font-size: 0.875rem;
          margin-top: 6px;
        }
      }
    }
    &__bottom {
      padding-top: 0.75em;
      padding-left: 4.625em;
      @include mobile {
        padding-left: 3.5em;
      }
      &__text {
        @include mobile {
          font-size: .875rem;
        }
      }
    }
    &__delete {
        position: absolute;
        top: 0;
        right: -74px;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .5em;
        background-color: var(--light-color);
        box-shadow: 0 0 24px rgba(0, 0, 0, 0.06);
        border: 2px solid rgba(0, 0, 0, 0.04);
        border-radius: 12px;
        cursor: pointer;
        .anticon {
          font-size: 1.25rem;
          transition: opacity .15s ease-in-out;
          &:hover {
            opacity: .5;
          }
        }
    }
  }
}

.ant {
  &-collapse {
    &-header {
      font-size: 1rem!important;
      padding: 12px!important;
      .ant-collapse-expand-icon {
        margin-inline-start: 0!important;
      }
    }
    &-content {
      &-box {
        font-size: 1rem!important;
        padding: 1em!important;
      }
    }
  }
}